image:
  registry: XXXXXXXXXXXX.dkr.ecr.ap-northeast-2.amazonaws.com
  repository: thanos
  tag: v0.34.1
  pullPolicy: Always
existingObjstoreSecret: thanos-objstore-config
query:
  enabled: true
  stores:
    - prometheus-prometheus-operator-prometheus-0.prometheus-operated:10901
    - prometheus-prometheus-operator-prometheus-1.prometheus-operated:10901
    - prometheus-prometheus-operator-prometheus-shard-1-0.prometheus-operated:10901
    - prometheus-prometheus-operator-prometheus-shard-1-1.prometheus-operated:10901
  nodeSelector:
    eks.amazonaws.com/nodegroup: monitoring
    kubernetes.io/arch: arm64
  tolerations:
    - key: system-type
      operator: Equal
      value: monitoring
      effect: NoSchedule
    - key: arch-type
      operator: Equal
      value: arm
      effect: NoSchedule
queryFrontend:
  enabled: true
  config: |-
    type: IN-MEMORY
    config:
      max_size: 512MB
      max_size_items: 100
      validity: 100s
  extraFlags:
    - --query-range.split-interval=24h
    - --query-range.max-retries-per-request=3
    - --query-frontend.log-queries-longer-than=60s
  service:
    type: NodePort
    ports:
      http: 9090
    nodePorts:
      http: 30007
  nodeSelector:
    eks.amazonaws.com/nodegroup: monitoring
    kubernetes.io/arch: arm64
  tolerations:
    - key: system-type
      operator: Equal
      value: monitoring
      effect: NoSchedule
    - key: arch-type
      operator: Equal
      value: arm
      effect: NoSchedule
bucketweb:
  enabled: false
compactor:
  enabled: true
  retentionResolutionRaw: 30d
  retentionResolution5m: 30d
  retentionResolution1h: 10y
  consistencyDelay: 30m
  nodeSelector:
    eks.amazonaws.com/nodegroup: monitoring
    kubernetes.io/arch: arm64
  tolerations:
    - key: system-type
      operator: Equal
      value: monitoring
      effect: NoSchedule
    - key: arch-type
      operator: Equal
      value: arm
      effect: NoSchedule
storegateway:
  enabled: true
  config: |-
    type: IN-MEMORY
    config:
      max_size: 1GB
      max_item_size: 500MB
  nodeSelector:
    eks.amazonaws.com/nodegroup: monitoring
    kubernetes.io/arch: arm64
  tolerations:
    - key: system-type
      operator: Equal
      value: monitoring
      effect: NoSchedule
    - key: arch-type
      operator: Equal
      value: arm
      effect: NoSchedule
ruler:
  enabled: false
receive:
  enabled: false
  nodeSelector:
    eks.amazonaws.com/nodegroup: monitoring
    kubernetes.io/arch: arm64
  tolerations:
    - key: system-type
      operator: Equal
      value: monitoring
      effect: NoSchedule
    - key: arch-type
      operator: Equal
      value: arm
      effect: NoSchedule
metrics:
  enabled: false
volumePermissions:
  enabled: false
minio:
  enabled: false
  auth:
    rootuser: admin
    rootPassword: admin!23#
  defaultBuckets: thanos-store